/*
Enterprise Connection Adapter

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 0.1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package sami_firewall_client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
)


// DefaultAPIService DefaultAPI service
type DefaultAPIService service

type ApiFileSanitizationRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	signedUrlPayload *SignedUrlPayload
}

func (r ApiFileSanitizationRequest) SignedUrlPayload(signedUrlPayload SignedUrlPayload) ApiFileSanitizationRequest {
	r.signedUrlPayload = &signedUrlPayload
	return r
}

func (r ApiFileSanitizationRequest) Execute() ([]string, *http.Response, error) {
	return r.ApiService.FileSanitizationExecute(r)
}

/*
FileSanitization Replace content in uploaded files

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiFileSanitizationRequest
*/
func (a *DefaultAPIService) FileSanitization(ctx context.Context) ApiFileSanitizationRequest {
	return ApiFileSanitizationRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []string
func (a *DefaultAPIService) FileSanitizationExecute(r ApiFileSanitizationRequest) ([]string, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.FileSanitization")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ai-firewall/firewall/v1/file/sanitization"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.signedUrlPayload == nil {
		return localVarReturnValue, nil, reportError("signedUrlPayload is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.signedUrlPayload
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMultimodalChatRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	prompt *string
	content *string
	text *string
	input *string
	file *os.File
	docx *os.File
	pdf *os.File
	image *os.File
	audio *os.File
	model *string
}

// Free-form prompt text
func (r ApiMultimodalChatRequest) Prompt(prompt string) ApiMultimodalChatRequest {
	r.prompt = &prompt
	return r
}

// Optional content payload
func (r ApiMultimodalChatRequest) Content(content string) ApiMultimodalChatRequest {
	r.content = &content
	return r
}

// Optional text input
func (r ApiMultimodalChatRequest) Text(text string) ApiMultimodalChatRequest {
	r.text = &text
	return r
}

// Optional input input
func (r ApiMultimodalChatRequest) Input(input string) ApiMultimodalChatRequest {
	r.input = &input
	return r
}

// Generic file upload (optional)
func (r ApiMultimodalChatRequest) File(file *os.File) ApiMultimodalChatRequest {
	r.file = file
	return r
}

// DOCX upload (optional)
func (r ApiMultimodalChatRequest) Docx(docx *os.File) ApiMultimodalChatRequest {
	r.docx = docx
	return r
}

// PDF upload (optional)
func (r ApiMultimodalChatRequest) Pdf(pdf *os.File) ApiMultimodalChatRequest {
	r.pdf = pdf
	return r
}

// Image upload (optional)
func (r ApiMultimodalChatRequest) Image(image *os.File) ApiMultimodalChatRequest {
	r.image = image
	return r
}

// Audio upload (optional)
func (r ApiMultimodalChatRequest) Audio(audio *os.File) ApiMultimodalChatRequest {
	r.audio = audio
	return r
}

// Optional model name
func (r ApiMultimodalChatRequest) Model(model string) ApiMultimodalChatRequest {
	r.model = &model
	return r
}

func (r ApiMultimodalChatRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.MultimodalChatExecute(r)
}

/*
MultimodalChat Multimodal chat completions

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiMultimodalChatRequest
*/
func (a *DefaultAPIService) MultimodalChat(ctx context.Context) ApiMultimodalChatRequest {
	return ApiMultimodalChatRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *DefaultAPIService) MultimodalChatExecute(r ApiMultimodalChatRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.MultimodalChat")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ai-firewall/firewall/v1/prompt"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.prompt != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "prompt", r.prompt, "", "")
	}
	if r.content != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "content", r.content, "", "")
	}
	if r.text != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "text", r.text, "", "")
	}
	if r.input != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "input", r.input, "", "")
	}
	var fileLocalVarFormFileName string
	var fileLocalVarFileName     string
	var fileLocalVarFileBytes    []byte

	fileLocalVarFormFileName = "file"
	fileLocalVarFile := r.file

	if fileLocalVarFile != nil {
		fbs, _ := io.ReadAll(fileLocalVarFile)

		fileLocalVarFileBytes = fbs
		fileLocalVarFileName = fileLocalVarFile.Name()
		fileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: fileLocalVarFileBytes, fileName: fileLocalVarFileName, formFileName: fileLocalVarFormFileName})
	}
	var docxLocalVarFormFileName string
	var docxLocalVarFileName     string
	var docxLocalVarFileBytes    []byte

	docxLocalVarFormFileName = "docx"
	docxLocalVarFile := r.docx

	if docxLocalVarFile != nil {
		fbs, _ := io.ReadAll(docxLocalVarFile)

		docxLocalVarFileBytes = fbs
		docxLocalVarFileName = docxLocalVarFile.Name()
		docxLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: docxLocalVarFileBytes, fileName: docxLocalVarFileName, formFileName: docxLocalVarFormFileName})
	}
	var pdfLocalVarFormFileName string
	var pdfLocalVarFileName     string
	var pdfLocalVarFileBytes    []byte

	pdfLocalVarFormFileName = "pdf"
	pdfLocalVarFile := r.pdf

	if pdfLocalVarFile != nil {
		fbs, _ := io.ReadAll(pdfLocalVarFile)

		pdfLocalVarFileBytes = fbs
		pdfLocalVarFileName = pdfLocalVarFile.Name()
		pdfLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: pdfLocalVarFileBytes, fileName: pdfLocalVarFileName, formFileName: pdfLocalVarFormFileName})
	}
	var imageLocalVarFormFileName string
	var imageLocalVarFileName     string
	var imageLocalVarFileBytes    []byte

	imageLocalVarFormFileName = "image"
	imageLocalVarFile := r.image

	if imageLocalVarFile != nil {
		fbs, _ := io.ReadAll(imageLocalVarFile)

		imageLocalVarFileBytes = fbs
		imageLocalVarFileName = imageLocalVarFile.Name()
		imageLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: imageLocalVarFileBytes, fileName: imageLocalVarFileName, formFileName: imageLocalVarFormFileName})
	}
	var audioLocalVarFormFileName string
	var audioLocalVarFileName     string
	var audioLocalVarFileBytes    []byte

	audioLocalVarFormFileName = "audio"
	audioLocalVarFile := r.audio

	if audioLocalVarFile != nil {
		fbs, _ := io.ReadAll(audioLocalVarFile)

		audioLocalVarFileBytes = fbs
		audioLocalVarFileName = audioLocalVarFile.Name()
		audioLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: audioLocalVarFileBytes, fileName: audioLocalVarFileName, formFileName: audioLocalVarFormFileName})
	}
	if r.model != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "model", r.model, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
